html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #FAFAFA;
  color: #333;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
body {
  padding: 0 1em;
}
main {
    padding: 0.01em 1em;
    max-width: 600px;
    margin: 1em auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
main ul li {
  line-height: 1.15;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0.5em 0;
}
